div#flash-message
  - flash.each do |status, message|
    div class="notification flash-message #{bulma_class_for(status)}"
      = message

    javascript:
      var fadeTarget = document.getElementById("flash-message");
      var fadeEffect = setTimeout(() => {
        var fadeEffect = setInterval(function () {
          if (!fadeTarget.style.opacity) {
              fadeTarget.style.opacity = 1;
          }
          if (fadeTarget.style.opacity > 0) {
              fadeTarget.style.opacity -= 0.1;
          } else {
              clearInterval(fadeEffect);
          }
        }, 25)
      }, 5000)