<% content_for :title, "Submit a banner - Murrtube" %>
<div class="columns">
  <div class="column is-half-desktop is-offset-one-quarter-desktop is-two-thirds-tablet is-offset-2-tablet">
    <div class="py-4">
      <div class="columns is-vcentered">
        <div class="column is-full-tablet is-9-desktop">
          <h1 class="is-size-1 has-text-centered has-font-walter has-text-weight-bold">Thank you for<br />your submission!</h1>
        </div>
        <div class="column is-full-tablet is-3-desktop">
          <figure class="image mx-auto is-128x128">
            <img src=<%= asset_path('android-icon-192x192.png') %> />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('submission_file').addEventListener("change", () => {
    const fileName = document.getElementById('file-name')
    const fileField = document.getElementById('submission_file')
    fileName.textContent = fileField.files[0].name
  })
</script>
